.calendar .day{
    position: relative;
    width: calc(70% / 7);
    height: 44px;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
  }

.week {
    display: inline-block;
    width: calc(70% / 7);
    height: 30px;
    text-align: center;
    line-height: 30px;
}